# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth
'atom-text-editor[data-grammar="source agda"]':
    'ctrl-c        ctrl-l': 'agda-mode:load'
    # invoke input method
    '\\': 'agda-mode:input-symbol'
    'alt-/': 'agda-mode:input-symbol'

# intercepting opening brackets or quotes
'atom-text-editor.agda-mode-input-method-activated':
    '\{' : 'agda-mode:input-symbol-curly-bracket'
    '\[' : 'agda-mode:input-symbol-bracket'
    '\(' : 'agda-mode:input-symbol-parenthesis'
    '\"' : 'agda-mode:input-symbol-double-quote'
    '\'' : 'agda-mode:input-symbol-single-quote'
    '\`' : 'agda-mode:input-symbol-back-quote'

'atom-text-editor[data-grammar="source lagda"]':
    'ctrl-c        ctrl-l': 'agda-mode:load'
    # invoke input method
    '\\': 'agda-mode:input-symbol'
    'alt-/': 'agda-mode:input-symbol'

'atom-text-editor.agda':
    # Global commands
    # 'ctrl-c        ctrl-l': 'agda-mode:load'
    'ctrl-c ctrl-x ctrl-q': 'agda-mode:quit'
    'ctrl-c ctrl-x ctrl-r': 'agda-mode:restart'
    'ctrl-c ctrl-x ctrl-c': 'agda-mode:compile'
    'ctrl-c ctrl-x ctrl-h': 'agda-mode:toggle-display-of-implicit-arguments'
    'ctrl-c ctrl-x ctrl-v': 'agda-mode:info'
    'ctrl-c        ctrl-=': 'agda-mode:show-constraints'
    'ctrl-c        ctrl-s': 'agda-mode:solve-constraints'
    'ctrl-c        ctrl-?': 'agda-mode:show-goals'
    'ctrl-c        ctrl-f': 'agda-mode:next-goal'
    'ctrl-c        ctrl-b': 'agda-mode:previous-goal'
    'ctrl-c ctrl-x ctrl-d': 'agda-mode:toggle-docking'


    # the commands below may have a goal-specific version
    'ctrl-c               ctrl-w': 'agda-mode:why-in-scope'
    'ctrl-c               ctrl-d': 'agda-mode:infer-type[Simplified]'
    'ctrl-u ctrl-c        ctrl-d': 'agda-mode:infer-type[Instantiated]'
    'ctrl-u ctrl-u ctrl-c ctrl-d': 'agda-mode:infer-type[Normalised]'
    'ctrl-c               ctrl-o': 'agda-mode:module-contents[Simplified]'
    'ctrl-u ctrl-c        ctrl-o': 'agda-mode:module-contents[Instantiated]'
    'ctrl-u ctrl-u ctrl-c ctrl-o': 'agda-mode:module-contents[Normalised]'
    'ctrl-c               ctrl-n': 'agda-mode:compute-normal-form[DefaultCompute]'
    'ctrl-u ctrl-c        ctrl-n': 'agda-mode:compute-normal-form[IgnoreAbstract]'
    'ctrl-u ctrl-u ctrl-c ctrl-n': 'agda-mode:compute-normal-form[UseShowInstance]'

    # Commands working in the context of a specific goal
    'ctrl-c               ctrl-space': 'agda-mode:give'
    'ctrl-c               ctrl-r': 'agda-mode:refine'
    'ctrl-c               ctrl-a': 'agda-mode:auto'
    'ctrl-c               ctrl-c': 'agda-mode:case'
    'ctrl-c               ctrl-t': 'agda-mode:goal-type[Simplified]'
    'ctrl-u ctrl-c        ctrl-t': 'agda-mode:goal-type[Instantiated]'
    'ctrl-u ctrl-u ctrl-c ctrl-t': 'agda-mode:goal-type[Normalised]'
    'ctrl-c               ctrl-e': 'agda-mode:context[Simplified]'
    'ctrl-u ctrl-c        ctrl-e': 'agda-mode:context[Instantiated]'
    'ctrl-u ctrl-u ctrl-c ctrl-e': 'agda-mode:context[Normalised]'
    'ctrl-c               ctrl-,': 'agda-mode:goal-type-and-context[Simplified]'
    'ctrl-u ctrl-c        ctrl-,': 'agda-mode:goal-type-and-context[Instantiated]'
    'ctrl-u ctrl-u ctrl-c ctrl-,': 'agda-mode:goal-type-and-context[Normalised]'
    'ctrl-c               ctrl-.': 'agda-mode:goal-type-and-inferred-type[Simplified]'
    'ctrl-u ctrl-c        ctrl-.': 'agda-mode:goal-type-and-inferred-type[Instantiated]'
    'ctrl-u ctrl-u ctrl-c ctrl-.': 'agda-mode:goal-type-and-inferred-type[Normalised]'

    # invoke input method
    # '\\': 'agda-mode:input-symbol'
    # 'alt-/': 'agda-mode:input-symbol'
