// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/stylesheets/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";


.agda-panel {
  font-size: 125%;
  .agda-panel-content {
    max-height: 160px;  // at most 5 rows high
    overflow: scroll;
    li {
      height: 32px;
      line-height: 32px;
    }
  }
}

ul[outlet="goalView"] {
    margin: 0;
}
.goal {
  display: block;
  background: #246;
  position: absolute;
  white-space: pre;
  text-align: right;
  color: orange;
}

.caption-item {
  color: @text-color-highlight !important;
}

.agda-input-method .region {
    border-bottom: 2px dotted @text-color;
}
