// The ui-variables file is provided by base themes provided by Atom.
@import "ui-variables";
@import "syntax-variables";

// the main component that houses everything
.agda-mode {

    // So that we can stop goal indices from floating around
    // see #14: https://github.com/banacorn/agda-mode/issues/14
    z-index: 4;
    
    // so that .agda-body will overflow and be scrollable
    height: 100%;
    > section { // pane item
        height: 100%;
    }

}
